dialog {
    width: 70vw;
    border: 3px solid black;
    height: 80vh;
    background-color: rgb(231, 233, 230);
    position: absolute;
    margin: auto;
    &::backdrop {
        backdrop-filter: brightness(40%) blur(0.34rem);
    }
    .dialog-inner-wrapper {
        display: flex;
        height: 100%;
    }
}
